<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.blackshop.user.mapper.SysUserMapper">

	<!-- 根据用户名查询用户 -->
	<select id="selectByUsername" resultType="cn.blackshop.user.entity.SysUser">
		select * from bs_sys_user where username = #{username}
	</select>
</mapper>