<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="navbar-brand side-bar-switch cursor-pointer" src="../../img/show_sidebar.png"
                 onMouseOver="this.style.background='#f1f2f7'"
                 onMouseOut="this.style.background='#fff'"
                 data-tooltip="tooltip" data-placement="bottom" title="显示导航栏"
                 ng-show="viewMode == 2 && !showSideBar"
                 ng-click="showSideBar = !showSideBar">
            <img class="navbar-brand side-bar-switch cursor-pointer" src="../../img/hide_sidebar.png"
                 onMouseOver="this.style.background='#f1f2f7'"
                 onMouseOut="this.style.background='#fff'"
                 data-tooltip="tooltip" data-placement="bottom" title="隐藏导航栏"
                 ng-show="viewMode == 2 && showSideBar"
                 ng-click="showSideBar = !showSideBar">
            <a class="navbar-brand logo" href="/">
                <img src="../../img/logo-simple.png" style="height:45px; margin-top: -13px">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{pageSetting.wikiAddress}}" target="_blank">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </a>
                </li>
                <li class="dropdown" ng-if="hasRootPermission">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>&nbsp;管理员工具
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user-manage.html" target="_blank">用户管理</a></li>
                        <li><a href="/open/manage.html" target="_blank">开放平台授权管理</a></li>
                        <li><a href="/server_config.html" target="_blank">系统参数</a></li>
                        <li><a href="/delete_app_cluster_namespace.html" target="_blank">删除应用、集群、AppNamespace</a></li>
                        <li><a href="/system_info.html" target="_blank">系统信息</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;{{userName}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/logout">退出</a></li>
                    </ul>
                </li>

            </ul>

            <div class="navbar-form navbar-right form-inline" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-input" placeholder="搜索项目(AppId、项目名)"
                           style="width: 350px"
                           ng-model="searchKey" ng-change="changeSearchKey()" ng-focus="changeSearchKey()">

                    <div class="row app-list" ng-show="shouldShowAppList">
                        <div ng-repeat="app in copiedApps" class="app-item" ng-class="{'app-selected':app.selected}"
                             ng-click="selectApp(app)">{{app.appId}} / {{app.name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>
