<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blackshop.service.user.basic.mapper.UserBasicMapper">

    <select id="getUser" parameterType="string" resultType="cn.blackshop.model.user.entity.User">
      SELECT * FROM bs_user WHERE nick_name = #{nickName}
    </select>
    
     <select id="queryUserList" resultType="cn.blackshop.model.user.entity.User">
      SELECT * FROM bs_user 
    </select>
    
</mapper>